{% extends 'base.html.twig' %}


{% block body %}
<head>
        <link href="{{ asset('css/basique.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/historique.css') }}" rel="stylesheet"/>
    </head>


     <div class="nav"> 
        <div class="nav-container"> 
            <a href="/" ><img href="/" class="fleche" src="{{ asset('images/fleche-gauche.png') }}" alt="logo!"/></a>
            <p> Historique </p>
        </div>
    </div>
{% endblock %}
